#save-status {
    border: 0;
    padding: 6px 25px;
    background-color: beige;
    color: black;
    font-size: 25px;
    border-radius: 3px;
    text-align: center;
    margin-top: 2em;
}

#search_input {
    background-color: aqua;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #DDD;
    margin-top: 5rem;
    display: flex;
    position: relative;
}