
  /* header */
  
  .header {
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 121px;
	width: 100%;
    color: white;
	background-color: rgb(66,66,66);
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(66,66,66);
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    font-family: Poppins;
	  letter-spacing: 4px;
	  font-size: 15px;
    text-decoration: none;
    color: white;
    border-radius:10px;
  }

  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .3s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 55px 30px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 300px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 1046px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 40px 20px;
      font-size: 20px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
      font-size: x-small;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
  body{
    font-family: 'Open Sans', sans-serif;
}
ul a:hover{
  color: #FBC02D !important;
}
nav li{
    text-align: center;
    text-transform: uppercase;
}
li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: #FBC02D;
    transform: scaleX(0);
    transition: transform .3s;
}
li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
.active{
    color: #FBC02D !important;
}



