body {
    background-color: rgb(95,95,95);
    
} 
h1 {
    text-align: center;
    color: white;
}
.dispatched-box {
    background-color: rgb(95,95,95);
    margin-bottom: 20px;
    padding: 35px;
    margin-top: 10em;
    margin-left: 30em;
    width: 33.33%;
}
.box {
    padding-top: 55px;
}
.dispatched-tracking {
    text-align: center;
    width: 55.33%;
    position: relative;
    display: block;
}
.dispatched-tracking .is-complete {
    display: block;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 0px solid #AFAFAF;
    background-color: #F7BE16;
    margin: 0 auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    z-index: 2;
}
.dispatched-tracking .is-complete:after {
    display: block;
    position: absolute;
    content: '';
    height: 14px;
    width: 7px;
    top: -2px;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    border: 0px solid #AFAFAF;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
.dispatched-tracking.completed .is-complete {
    border-color: #27aa80;
    border-width: 0px;
    background-color: #27aa80;
}
.dispatched-tracking.completed .is-complete:after {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}
.dispatched-tracking p {
    color: #A4A4A4;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 20px;
}
.dispatched-tracking p span {
    font-size: 14px;
}
.dispatched-tracking.completed p {
    color: #000;
}
.dispatched-tracking::before {
    content: '';
    display: block;
    height: 3px;
    width: calc(100% - 60px);
    background-color: #f7be16;
    top: 13px;
    position: absolute;
    left: calc(-50% + 20%);
    z-index: 0;
}
.dispatched-tracking:first-child:before{
    display: none;
}
.dispatched-tracking.completed:before {
    background-color: #27aa80;
}